body {
    font-family: Arial, sans-serif;
    background-color: #FFFDCE;
    margin: 0;
    padding: 0px;
}
header {
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #F075AE;
}

#title {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F7DB91;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

#card {
    width: 300px;
    text-align: center;
    background-color: #F7DB91;
    padding: 10px;
    border-radius: 5px;
}

#photo {
    width: 290px;
    text-align: center;
    background-color: #F7DB91;
    padding: 10px;
    border-radius: 5px;
}